<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Analyse data trends in SAT and ACT from 2018-2019 and make recommendations to increase SAT participation and scores.

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [157]:
# function to calculate mean(average).

def calculate_mean(ls):
    average = sum(ls)/len(ls)
    return average

In [158]:
ls = [1,5,6,8,9,10,12]
calculate_mean(ls)

7.285714285714286

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [159]:
# function to calculate Standard Deviation.

def std_dev(ls):
    mean = calculate_mean(ls) # calling calculate_mean function we defined earlier
    
    mean_of_sqrd = 0 # set mean_of_sqrd to 0
    for item in ls:
        mean_of_sqrd = mean_of_sqrd + ((item - mean)**2)
    
    # Return the root
    return (mean_of_sqrd/len(ls))**0.5

In [160]:
std_dev(ls)

3.3685217493004562

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [161]:
"99%".strip('%') # we will use .strip() to get rid to % sign and then divide by 100 as per below function

'99'

In [162]:
# function to convert string in number and %(ex: 50%) to float in decimal.

def per_to_float(num_string):
    value = float(num_string.strip('%'))/100 #convert string
    return value

In [163]:
per_to_float("80%")

0.8

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [164]:
# Imports libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

# Data Import  and cleaning for year 2018

## 1. Read and Display SAT and ACT Data

In [165]:
sat_2018 = pd.read_csv('../data/sat_2018.csv') #import csv file from data folder

In [166]:
sat_2018.head() # Display the data first 5 rows

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [167]:
sat_2018.tail() # Display the data last 5 rows

,State,Participation,Evidence-Based Reading and Writing,Math,Total
46,Virginia,68%,567,550,1117
47,Washington,69%,543,538,1081
48,West Virginia,28%,513,486,999
49,Wisconsin,3%,641,653,1294
50,Wyoming,3%,633,625,1257

In [168]:
act_2018 = pd.read_csv('../data/act_2018.csv') #import csv file from data folder

In [169]:
act_2018.head() # Display the data first 5 rows

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [170]:
act_2018.tail() # Display the data last 5 rows

            State Participation  Composite
47       Virginia           24%       23.9
48     Washington           24%       22.2
49  West Virginia           65%       20.3
50      Wisconsin          100%       20.5
51        Wyoming          100%       20.0

## 2. Check for missing values

In [171]:
sat_2018.info() # SAT Data is complete with no-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [172]:
act_2018.info() # ACT Data is complete with no-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

## Summary:
#### 1) Participation columns for both dataframes needs to be converted to float.
#### 2) No null values in any columns for sat_2018 and act_2018.
#### 3) As there are 50 states and D.C as per [US States of Union](https://uk.usembassy.gov/states-of-the-union-states-of-the-u-s/) act_2018 data needs further investigation on any possible duplications.

## 3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).

In [173]:
# Check if summarised information on scores i.e min and max possible values for each test/subset
sat_2018.describe(include = 'all')

,State,Participation,Evidence-Based Reading and Writing,Math,Total
count,51,51,51.000000,51.000000,51.000000
unique,51,33,NaN,NaN,NaN
top,South Carolina,3%,NaN,NaN,NaN
freq,1,6,NaN,NaN,NaN
mean,NaN,NaN,563.686275,556.235294,1120.019608
std,NaN,NaN,47.502627,47.772623,94.155083
min,NaN,NaN,480.000000,480.000000,977.000000
25%,NaN,NaN,534.500000,522.500000,1057.500000
50%,NaN,NaN,552.000000,544.000000,1098.000000
75%,NaN,NaN,610.500000,593.500000,1204.000000
max,NaN,NaN,643.000000,655.000000,1298.000000

In [174]:
# Check if summarised information on scores i.e min and max possible values for each test/subset
act_2018.describe(include = 'all')

        State Participation  Composite
count      52            52  52.000000
unique     51            29        NaN
top     Maine          100%        NaN
freq        2            17        NaN
mean      NaN           NaN  21.544231
std       NaN           NaN   2.119417
min       NaN           NaN  17.700000
25%       NaN           NaN  19.975000
50%       NaN           NaN  21.300000
75%       NaN           NaN  23.725000
max       NaN           NaN  25.600000

### min and max values seems fine as per the average test score links below.
#### [Average SAT Score](https://www.number2.com/average-sat-score/)
#### [Average ACT Score](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

## 4) Fix any errors you identified in steps 2-3.

In [175]:
# convert SAT 'Participation' values to float using the function(per_to_float) we defined earlier

sat_2018['Participation'] = sat_2018['Participation'].map(per_to_float)

In [176]:
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     float64
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

In [177]:
# convert ACT 'Participation' values to float using the function(per_to_float) we defined earlier

act_2018['Participation'] = act_2018['Participation'].map(per_to_float)

In [178]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   Composite      52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [179]:
# act_2018 data needs further investigation on any possible duplications.
act_2018.duplicated().value_counts()

False    51
True      1
dtype: int64

In [180]:
# Select duplicate rows except first occurrence based on all columns
print(act_2018[act_2018.duplicated()])

    State  Participation  Composite
20  Maine           0.07       24.0

In [181]:
# Drop the duplicate row.
act_2018 = act_2018.drop_duplicates().reset_index(drop=True)

In [182]:
act_2018.info() # Duplicate row has been removed and

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Composite      51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [183]:
act_2018.head()

        State  Participation  Composite
0     Alabama           1.00       19.1
1      Alaska           0.33       20.8
2     Arizona           0.66       19.2
3    Arkansas           1.00       19.4
4  California           0.27       22.7

## 5) Display data types of each feature.

In [184]:
sat_2018.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [185]:
act_2018.dtypes

State             object
Participation    float64
Composite        float64
dtype: object

## 6) Rename Columns

In [186]:
# change sat_2018 column name to lowercase
sat_2018.columns = map(str.lower, sat_2018.columns)

In [187]:
sat_2018.head()

        state  participation  evidence-based reading and writing  math  total
0     Alabama           0.06                                 595   571   1166
1      Alaska           0.43                                 562   544   1106
2     Arizona           0.29                                 577   572   1149
3    Arkansas           0.05                                 592   576   1169
4  California           0.60                                 540   536   1076

In [188]:
# change act_2018 column name to lowercase
act_2018.columns = map(str.lower, act_2018.columns)

In [189]:
act_2018.head()

        state  participation  composite
0     Alabama           1.00       19.1
1      Alaska           0.33       20.8
2     Arizona           0.66       19.2
3    Arkansas           1.00       19.4
4  California           0.27       22.7

In [190]:
# Rename columns for sat_2018
sat_2018.rename(columns={'participation':'participation_sat_2018',
    'evidence-based reading and writing' : 'ebrw_sat_2018',
    'math' : 'math_sat_2018',
    'total' : 'total_sat_2018'
}, inplace=True)

In [191]:
sat_2018.head()

,state,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018
0,Alabama,0.06,595,571,1166
1,Alaska,0.43,562,544,1106
2,Arizona,0.29,577,572,1149
3,Arkansas,0.05,592,576,1169
4,California,0.60,540,536,1076

In [192]:
#Rename columns for act2018
act_2018.rename(columns={'participation' : 'participation_act_2018',
    'composite' : 'composite_act_2018','state' : 'state_act'}, inplace=True)

In [193]:
act_2018.head()

    state_act  participation_act_2018  composite_act_2018
0     Alabama                    1.00                19.1
1      Alaska                    0.33                20.8
2     Arizona                    0.66                19.2
3    Arkansas                    1.00                19.4
4  California                    0.27                22.7

## 7) Merge dataframes for SAT and ACT 2018.

In [194]:
sat_act_2018_merged = pd.concat([sat_2018,act_2018],axis=1)

In [195]:
sat_act_2018_merged.head()

,state,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,state_act,participation_act_2018,composite_act_2018
0,Alabama,0.06,595,571,1166,Alabama,1.00,19.1
1,Alaska,0.43,562,544,1106,Alaska,0.33,20.8
2,Arizona,0.29,577,572,1149,Arizona,0.66,19.2
3,Arkansas,0.05,592,576,1169,Arkansas,1.00,19.4
4,California,0.60,540,536,1076,California,0.27,22.7

In [196]:
del sat_act_2018_merged['state_act']

In [197]:
sat_act_2018_merged.head()

,state,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,participation_act_2018,composite_act_2018
0,Alabama,0.06,595,571,1166,1.00,19.1
1,Alaska,0.43,562,544,1106,0.33,20.8
2,Arizona,0.29,577,572,1149,0.66,19.2
3,Arkansas,0.05,592,576,1169,1.00,19.4
4,California,0.60,540,536,1076,0.27,22.7

## 8) Export the merged CSV file

In [239]:
sat_act_2018_merged.to_csv('../data/sat_act_2018_merged.csv', index=False)

## Data Import and cleaning for year 2019

In [199]:
# Import sat_2019 and act_2019 csv files:

sat_2019 = pd.read_csv('../data/sat_2019.csv')
act_2019 = pd.read_csv('../data/act_2019.csv')

In [200]:
sat_2019.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [201]:
act_2019.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [202]:
# Check for any missing values
sat_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               53 non-null     object
 1   Participation Rate  53 non-null     object
 2   EBRW                53 non-null     int64
 3   Math                53 non-null     int64
 4   Total               53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [203]:
act_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

## Summary:
#### 1) sat_2019 and act_2019 data has no-null values.
#### 2) As there are 50 states and D.C as per [US States of Union](https://uk.usembassy.gov/states-of-the-union-states-of-the-u-s/)    act_2019 and sat_2019 data needs further investigation on any possible duplications.
#### 3) Participation column to be changed to float instead of object.

In [204]:
# Check if summarised information on scores i.e min and max possible values for each test/subset
sat_2019.describe(include = 'all')

                 State Participation Rate        EBRW        Math        Total
count               53                 53   53.000000   53.000000    53.000000
unique              53                 28         NaN         NaN          NaN
top     South Carolina               100%         NaN         NaN          NaN
freq                 1                  8         NaN         NaN          NaN
mean               NaN                NaN  558.000000  548.471698  1106.528302
std                NaN                NaN   47.554422   53.785044   100.994784
min                NaN                NaN  483.000000  445.000000   935.000000
25%                NaN                NaN  518.000000  506.000000  1024.000000
50%                NaN                NaN  550.000000  545.000000  1097.000000
75%                NaN                NaN  610.000000  596.000000  1200.000000
max                NaN                NaN  636.000000  648.000000  1284.000000

In [205]:
# Check if summarised information on scores i.e min and max possible values for each test/subset
act_2019.describe(include = 'all')

                 State Participation  Composite
count               52            52  52.000000
unique              52            35        NaN
top     South Carolina          100%        NaN
freq                 1            15        NaN
mean               NaN           NaN  21.450000
std                NaN           NaN   2.175487
min                NaN           NaN  17.900000
25%                NaN           NaN  19.800000
50%                NaN           NaN  20.950000
75%                NaN           NaN  23.650000
max                NaN           NaN  25.500000

In [206]:
# convert Participation column type from object to float for sat_2019 and act_2019
act_2019["Participation"] = act_2019["Participation"].map(per_to_float)

In [207]:
act_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   Composite      52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [208]:
sat_2019 = sat_2019.rename(columns={"Participation Rate":"Participation"})

In [209]:
sat_2019.head()

        State Participation  EBRW  Math  Total
0     Alabama            7%   583   560   1143
1      Alaska           41%   556   541   1097
2     Arizona           31%   569   565   1134
3    Arkansas            6%   582   559   1141
4  California           63%   534   531   1065

In [210]:
# sat_2019["Participation"] = sat_2019["Participation"].map(per_to_float) there is a '-'in our dataframe

In [211]:
sat_2019[['State','Participation']]

                   State Participation
0                Alabama            7%
1                 Alaska           41%
2                Arizona           31%
3               Arkansas            6%
4             California           63%
5               Colorado          100%
6            Connecticut          100%
7               Delaware          100%
8   District of Columbia           94%
9                Florida          100%
10               Georgia           71%
11                Hawaii           54%
12                 Idaho          100%
13              Illinois          100%
14               Indiana           66%
15                  Iowa            3%
16                Kansas            4%
17              Kentucky            4%
18             Louisiana            5%
19                 Maine           99%
20              Maryland           82%
21         Massachusetts           81%
22              Michigan          100%
23             Minnesota            4%
24           Mississippi            3%
25              Missouri            4%
26               Montana            9%
27              Nebraska            3%
28                Nevada           20%
29         New Hampshire           95%
30            New Jersey           82%
31            New Mexico           18%
32              New York           79%
33        North Carolina           51%
34          North Dakota            2%
35                  Ohio           19%
36              Oklahoma           22%
37                Oregon           51%
38          Pennsylvania           70%
39           Puerto Rico             —
40          Rhode Island          100%
41        South Carolina           68%
42          South Dakota            3%
43             Tennessee            7%
44                 Texas           68%
45                  Utah            4%
46               Vermont           66%
47        Virgin Islands             —
48              Virginia           68%
49            Washington           70%
50         West Virginia           99%
51             Wisconsin            3%
52               Wyoming            3%

In [212]:
# Drop Unwanted rows "Puerto Rico"locted at index 39
sat_2019.drop([39], inplace = True)

In [213]:
sat_2019.drop([47], inplace = True) # Drop Unwanted rows "Virgin Islands at index 47

In [214]:
sat_2019 = sat_2019.reset_index(drop = True) # reset the index

In [215]:
sat_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     object
 2   EBRW           51 non-null     int64
 3   Math           51 non-null     int64
 4   Total          51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [216]:
sat_2019["Participation"] = sat_2019["Participation"].map(per_to_float) # change data type to float

In [217]:
sat_2019.dtypes

State             object
Participation    float64
EBRW               int64
Math               int64
Total              int64
dtype: object

In [218]:
act_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   Composite      52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [219]:
act_2019.tail()

            State  Participation  Composite
47     Washington           0.24       22.1
48  West Virginia           0.49       20.8
49      Wisconsin           1.00       20.3
50        Wyoming           1.00       19.8
51       National           0.52       20.7

In [221]:
# Drop national column for act_2019
act_2019 = act_2019.drop([51])

In [222]:
act_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Composite      51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB

In [223]:
sat_2019.dtypes

State             object
Participation    float64
EBRW               int64
Math               int64
Total              int64
dtype: object

In [224]:
act_2019.dtypes

State             object
Participation    float64
Composite        float64
dtype: object

In [225]:
# Rename the columns for sat_2019
sat_2019.rename(columns={'State':'state','Participation':'participation_sat_2019',
    'EBRW' : 'ebrw_sat_2019',
    'Math' : 'math_sat_2019',
    'Total' : 'total_sat_2019'
}, inplace=True)

In [230]:
#Rename columns for act2019
act_2019.rename(columns={'Participation' : 'participation_act_2019',
    'Composite' : 'composite_act_2019','State' : 'state_act'}, inplace=True)

In [231]:
sat_2019.head()

,state,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019
0,Alabama,0.07,583,560,1143
1,Alaska,0.41,556,541,1097
2,Arizona,0.31,569,565,1134
3,Arkansas,0.06,582,559,1141
4,California,0.63,534,531,1065

In [232]:
act_2019.head()

    state_act  participation_act_2019  composite_act_2019
0     Alabama                    1.00                18.9
1      Alaska                    0.38                20.1
2     Arizona                    0.73                19.0
3    Arkansas                    1.00                19.3
4  California                    0.23                22.6

In [233]:
# Merge the data for sat and act 2019
sat_act_2019_merged = pd.concat([sat_2019,act_2019],axis=1)
sat_act_2019_merged.head()

,state,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,state_act,participation_act_2019,composite_act_2019
0,Alabama,0.07,583,560,1143,Alabama,1.00,18.9
1,Alaska,0.41,556,541,1097,Alaska,0.38,20.1
2,Arizona,0.31,569,565,1134,Arizona,0.73,19.0
3,Arkansas,0.06,582,559,1141,Arkansas,1.00,19.3
4,California,0.63,534,531,1065,California,0.23,22.6

In [235]:
del sat_act_2019_merged['state_act'] # Delete extra state_act column

In [236]:
sat_act_2019_merged.head()

,state,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,participation_act_2019,composite_act_2019
0,Alabama,0.07,583,560,1143,1.00,18.9
1,Alaska,0.41,556,541,1097,0.38,20.1
2,Arizona,0.31,569,565,1134,0.73,19.0
3,Arkansas,0.06,582,559,1141,1.00,19.3
4,California,0.63,534,531,1065,0.23,22.6

In [240]:
#Export the merged csv file
sat_act_2019_merged.to_csv('../data/sat_act_2019_merged.csv', index=False)

## Combined data for SAT and ACT 2018-19 into single dataframe for further exploration.

In [242]:
sat_act_2018_merged.head()

,state,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,participation_act_2018,composite_act_2018
0,Alabama,0.06,595,571,1166,1.00,19.1
1,Alaska,0.43,562,544,1106,0.33,20.8
2,Arizona,0.29,577,572,1149,0.66,19.2
3,Arkansas,0.05,592,576,1169,1.00,19.4
4,California,0.60,540,536,1076,0.27,22.7

In [243]:
sat_act_2019_merged.head()

,state,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,participation_act_2019,composite_act_2019
0,Alabama,0.07,583,560,1143,1.00,18.9
1,Alaska,0.41,556,541,1097,0.38,20.1
2,Arizona,0.31,569,565,1134,0.73,19.0
3,Arkansas,0.06,582,559,1141,1.00,19.3
4,California,0.63,534,531,1065,0.23,22.6

In [246]:
# pd.merge joins the two dataframes on the column given

final_merged_sat_act = pd.merge(sat_act_2018_merged, sat_act_2019_merged, on=sat_act_2018_merged['state'])
final_merged_sat_act.head()

,key_0,state_x,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,participation_act_2018,composite_act_2018,state_y,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,participation_act_2019,composite_act_2019
0,Alabama,Alabama,0.06,595,571,1166,1.00,19.1,Alabama,0.07,583,560,1143,1.00,18.9
1,Alaska,Alaska,0.43,562,544,1106,0.33,20.8,Alaska,0.41,556,541,1097,0.38,20.1
2,Arizona,Arizona,0.29,577,572,1149,0.66,19.2,Arizona,0.31,569,565,1134,0.73,19.0
3,Arkansas,Arkansas,0.05,592,576,1169,1.00,19.4,Arkansas,0.06,582,559,1141,1.00,19.3
4,California,California,0.60,540,536,1076,0.27,22.7,California,0.63,534,531,1065,0.23,22.6

In [247]:
# drop the duplicate columns 'state_x', 'state_y'

final_merged_sat_act.drop(columns=['state_x', 'state_y'], inplace=True)

In [248]:
# rename key_0 to 'state'
final_merged_sat_act.rename(columns={'key_0':'state'}, inplace=True)

In [249]:
final_merged_sat_act.head()

,state,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,participation_act_2018,composite_act_2018,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,participation_act_2019,composite_act_2019
0,Alabama,0.06,595,571,1166,1.00,19.1,0.07,583,560,1143,1.00,18.9
1,Alaska,0.43,562,544,1106,0.33,20.8,0.41,556,541,1097,0.38,20.1
2,Arizona,0.29,577,572,1149,0.66,19.2,0.31,569,565,1134,0.73,19.0
3,Arkansas,0.05,592,576,1169,1.00,19.4,0.06,582,559,1141,1.00,19.3
4,California,0.60,540,536,1076,0.27,22.7,0.63,534,531,1065,0.23,22.6

In [250]:
# save final combined dataframe to csv
final_merged_sat_act.to_csv('../data/final_merged_sat_act.csv')

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**Dictionary for Dataset of SAT and ACT for the year 2019-19.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|ACT/SAT|name of states in USA|
|participation_sat_2018|float|SAT 2018|percent participation in decimal| 
|ebrw_sat_2018|int|SAT 2018|average SAT Evidence-Based Reading and Writing test score| 
|math_sat_2018|int|SAT 2018|average math test score| 
|total_sat_2018|int|SAT 2018|average SAT total score|
|participation_act_2018|float|ACT 2018|percent participation in decimal|
|composite_act_2018|float|ACT 2018|average ACT composite score|
|participation_sat_2019|float|SAT 2019|percent participation in decimal| 
|ebrw_sat_2019|int|SAT 2019|average SAT Evidence-Based Reading and Writing test score| 
|math_sat_2019|int|SAT 2019|average math test score| 
|total_sat_2019|int|SAT 2019|average SAT total score|
|participation_act_2019|float|ACT 2019|percent participation in decimal|
|composite_act_2019|float|ACT 2019|average ACT composite score|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

## 1) Summary Statistics
#### Using .describe() function we can display the summary for our data frame.

In [251]:
final_merged_sat_act.describe()

,participation_sat_2018,ebrw_sat_2018,math_sat_2018,total_sat_2018,participation_act_2018,composite_act_2018,participation_sat_2019,ebrw_sat_2019,math_sat_2019,total_sat_2019,participation_act_2019,composite_act_2019
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,0.457451,563.686275,556.235294,1120.019608,0.617255,21.496078,0.490588,560.803922,552.196078,1113.078431,0.586667,21.464706
std,0.373143,47.502627,47.772623,94.155083,0.340371,2.111583,0.387476,46.248035,51.290553,97.197910,0.345159,2.194523
min,0.020000,480.000000,480.000000,977.000000,0.070000,17.700000,0.020000,483.000000,460.000000,943.000000,0.060000,17.900000
25%,0.045000,534.500000,522.500000,1057.500000,0.285000,19.950000,0.055000,527.500000,511.500000,1038.000000,0.245000,19.800000
50%,0.520000,552.000000,544.000000,1098.000000,0.660000,21.300000,0.540000,550.000000,546.000000,1097.000000,0.540000,21.100000
75%,0.775000,610.500000,593.500000,1204.000000,1.000000,23.650000,0.820000,612.000000,599.000000,1210.000000,1.000000,23.700000
max,1.000000,643.000000,655.000000,1298.000000,1.000000,25.600000,1.000000,636.000000,648.000000,1284.000000,1.000000,25.500000

In [252]:
final_merged_sat_act.describe().T # after transposing the above summary its more readable.

,count,mean,std,min,25%,50%,75%,max
participation_sat_2018,51.0,0.457451,0.373143,0.02,0.045,0.52,0.775,1.0
ebrw_sat_2018,51.0,563.686275,47.502627,480.00,534.500,552.00,610.500,643.0
math_sat_2018,51.0,556.235294,47.772623,480.00,522.500,544.00,593.500,655.0
total_sat_2018,51.0,1120.019608,94.155083,977.00,1057.500,1098.00,1204.000,1298.0
participation_act_2018,51.0,0.617255,0.340371,0.07,0.285,0.66,1.000,1.0
composite_act_2018,51.0,21.496078,2.111583,17.70,19.950,21.30,23.650,25.6
participation_sat_2019,51.0,0.490588,0.387476,0.02,0.055,0.54,0.820,1.0
ebrw_sat_2019,51.0,560.803922,46.248035,483.00,527.500,550.00,612.000,636.0
math_sat_2019,51.0,552.196078,51.290553,460.00,511.500,546.00,599.000,648.0
total_sat_2019,51.0,1113.078431,97.197910,943.00,1038.000,1097.00,1210.000,1284.0
participation_act_2019,51.0,0.586667,0.345159,0.06,0.245,0.54,1.000,1.0
composite_act_2019,51.0,21.464706,2.194523,17.90,19.800,21.10,23.700,25.5

## 2) Using dictionary comprehension lets apply the standard deviation function std_dev() to each numeric column in our dataframe.

In [253]:
# create list of numeric column names

num_col = ['participation_sat_2018','ebrw_sat_2018','math_sat_2018','total_sat_2018','participation_act_2018',
           'composite_act_2018','participation_sat_2019','ebrw_sat_2019','math_sat_2019','total_sat_2019',
          'participation_act_2019','composite_act_2019']

In [254]:
# create a dict with key = num_column and value is standard deviation using function std_dev()

sd = {k:std_dev(final_merged_sat_act[k]) for k in num_col}

In [257]:
sd

{'participation_sat_2018': 0.3694661922353942,
 'ebrw_sat_2018': 47.03460978357609,
 'math_sat_2018': 47.30194550378352,
 'total_sat_2018': 93.22742384464433,
 'participation_act_2018': 0.33701735820410317,
 'composite_act_2018': 2.090779082141178,
 'participation_sat_2019': 0.3836584048685726,
 'ebrw_sat_2019': 45.792378682545134,
 'math_sat_2019': 50.78521461840036,
 'total_sat_2019': 96.24027185617864,
 'participation_act_2019': 0.3417582373703047,
 'composite_act_2019': 2.172901153595978}

In [258]:
# lets use numpy to calculate the standard deviation and compare it with our sd output above.
np.std(final_merged_sat_act)

participation_sat_2018     0.369466
ebrw_sat_2018             47.034610
math_sat_2018             47.301946
total_sat_2018            93.227424
participation_act_2018     0.337017
composite_act_2018         2.090779
participation_sat_2019     0.383658
ebrw_sat_2019             45.792379
math_sat_2019             50.785215
total_sat_2019            96.240272
participation_act_2019     0.341758
composite_act_2019         2.172901
dtype: float64

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!